
<form action="~/Home/CalculateOhm" method="post" class="ajax-form">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                    @{Html.RenderPartial("FirstBand", "b5d1");}
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                    @{Html.RenderPartial("SecondBand", "b5d2"); }
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                    @{Html.RenderPartial("ThirdBand", "b5d3"); }
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                    @{Html.RenderPartial("Multiplier", "b5d4");}
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("Band", "5")
    <br />
    <div class="row visible-lg">
        <input type="submit" value="CalculateOhm" />
    </div>
    <div class="row clearfix">
        <div id="errors"></div>
    </div>

</form>
