@model Int32?

<div id="errors">
    @Html.ValidationSummary(false, "", new { @style = "color: red" })
</div> 
<div id="tool_output_container" class="ohm-group">
    <h3><label> @Model &#8486;</label></h3>
</div>