@model string
<label for="@Model" class="hidden-lg">1st Band</label>
<select class="form-control digit-picker white" id="@Model" name="BandAColor">
    <option value="">--select--</option>
    <option class="brown" value="brown">1 Brown</option>
    <option class="red" value="red">2 RED</option>
    <option class="orange" value="orange">3 Orange</option>
    <option class="yellow" value="yellow">4 Yellow</option>
    <option class="green" value="green">5 Green</option>
    <option class="blue" value="blue">6 Blue</option>
    <option class="purple" value="violet">7 Violet</option>
    <option class="grey" value="gray">8 Gray</option>
    <option class="white" value="white">9 White</option>
</select>

