@model string
<label for="@Model" class="hidden-lg">Multiplier</label>
<select class="form-control digit-picker silver" id="@Model" name="BandDColor">
    <option value="">--select--</option>
    <option class="black" value="black">x1 Black</option>
    <option class="brown" value="brown">x10 Brown</option>
    <option class="red" value="red">x100 Red</option>
    <option class="orange" value="orange">x1k Orange</option>
    <option class="yellow" value="yellow">x10k Yellow</option>
    <option class="green" value="green">x100k Green</option>
    <option class="blue" value="blue">x1M Blue</option>
    <option class="purple" value="violet">x10M Violet</option>
    <option class="grey" value="gray">x100M Gray</option>
    <option class="white" value="white">x1G White</option>
    <option class="gold" value="gold">÷10 Gold</option>
    <option class="silver" value="silver">÷100 Silver</option>
</select>
<div></div>
